@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'BeaufortforLOL-Bold';
    src: url('/fonts/BeaufortforLOL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
  background-color: #0d1117;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.text-stroke {
    -webkit-text-stroke: 1px #000;
}
