@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: 'BeaufortforLOL-Bold';
    src: url('/fonts/BeaufortforLOL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
  background-color: #0d1117; /* Fondo oscuro predeterminado, aunque las secciones lo sobreescriben */
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.text-stroke {
    -webkit-text-stroke: 1px #000;
}
/* Asegúrate de que los colores de Tailwind estén definidos en tu tailwind.config.js
   Ejemplo:
   extend: {
     colors: {
       'lol-gold': '#C8AA6E',
       'lol-gold-dark': '#A07F4A',
       'lol-gold-light': '#F0E6D2',
       'lol-blue-dark': '#0A1428',
       'lol-blue-medium': '#001A31',
       'lol-blue-accent': '#0BC7E0',
     },
   },
*/
