@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes y estilos base de la landing page original */
@font-face {
    font-family: 'BeaufortforLOL-Bold';
    src: url('/fonts/BeaufortforLOL-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    /* Se mantienen los colores de tu app, pero se asegura el resto */
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #010A13; /* Fondo base de la app */
}

.text-stroke {
    -webkit-text-stroke: 1px #000;
}
